@font-face {
	font-family: 'Brushwell';
	src: url('../fonts/Brushwell-4BBJD.eot');
	src: local('☺'), url('../fonts/Brushwell-4BBJD.woff') format('woff'), url('../fonts/Brushwell-4BBJD.ttf') format('truetype'), url('../fonts/Brushwell-4BBJD.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Louis George Cafe';
	src: url('../fonts/Louis_George_Cafe.eot');
	src: local('☺'), url('../fonts/Louis_George_Cafe.woff') format('woff'), url('../fonts/Louis_George_Cafe.ttf') format('truetype'), url('../fonts/Louis_George_Cafe.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nextart';
	src: url('../fonts/Nextartlight.eot');
	src: local('☺'), url('../fonts/Nextartlight.woff') format('woff'), url('../fonts/Nextartlight.ttf') format('truetype'), url('../fonts/Nextartlight.svg') format('svg');
	font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: 'Red Velvet';
	src: url('../fonts/red-velvet-regular.eot');
	src: local('☺'), url('../fonts/red-velvet-regular.woff') format('woff'), url('../fonts/red-velvet-regular.ttf') format('truetype'), url('../fonts/red-velvet-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*,
*:before,
*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1176px;
    margin: 0 auto;
}
    /* header */
.header{
    width: 100%;
    overflow: auto;
    background: url(../img/BG_flovers.png) scroll no-repeat;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    margin-top: 64px;
}
.nav_item{
    font-family: "Nextart";
    font-size: calc(24px + 4 * ((100vw - 320px) / (1280 - 320)));
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-align: center;
    
    border: 1px transparent solid; 
    padding: 10px 0;
    margin-right: 50px;
}
.nav_item:hover{
    border-bottom: 1px #fff solid;
}
    /* Burger menu*/
.burger{
    display: none;
}
.circle_burger{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    cursor: pointer;
}
.Burger_linear{
    margin: 15px 0 0 0;
}
.linear{
    width: 40px;
    height: 2px;
    background-color: #000;
    margin: 5px auto 0 auto;
}
.circle_burger:hover{
    background-color: #fff;
}
.logo{
    margin-top: 19.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo_text{
    font-family: "Brushwell";
    font-size: calc(24px + 42 * ((100vw - 320px) / (1280 - 320)));
    color: #fff;
    border-bottom:1px #fff solid;
}
.title_text{
    margin-top: 3.9%;
    font-family: "Red Velvet";
    font-size: calc(16px + 16 * ((100vw - 320px) / (1280 - 320)));
    text-align: center;
    color: #fff;
}
.subtitle_text{
    font-family: "Louis George Cafe";
    font-size: calc(12px + 3 * ((100vw - 320px) / (1280 - 320)));
    line-height: 30px;
    color: #ffffff;
    text-align: center;

    margin:  auto;
    max-width: 910px;
}
.slider{
    margin: 16.9% 0 4.9% 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dote{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a3958e;
    margin: 0px 5px 5px 0px;
}
    /* About */
.about_me_content{
    /* max-height: 527px; */
    margin: 6% 0 6% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.about__img{
    margin-right: 40px;
}
.about__text{
    width: 52%;
    padding: 34px;
    max-height: 368px;
    border: 1px transparent solid;
    border-left: 1px #000 solid;
}
.about__text__title{
    font-family: "Brushwell";
    font-size: calc(24px + 52 * ((100vw - 320px) / (1280 - 320)));
}
.about__text_text{
    font-family: "Louis George Cafe";
    font-size: calc(14px + 8 * ((100vw - 320px) / (1280 - 320)));
    color: #000;
}
.about__text_button{
    margin: 6%;
    font-family: "Louis George Cafe";
    font-size: calc(10px + 8 * ((100vw - 320px) / (1280 - 320)));
    border: 1px solid #2b2b2b;
    background-color: #fff;
    padding: 2% 5.1%;
    letter-spacing: 0,94px;
    text-transform: uppercase;
}
.about__text_button:hover{
    background-color:#2b2b2b;
    color:#fff;
}
    /* PORTFOLIO */
.portfolio{
    /* max-height: 416px; */
    background: url(../img/BG_Portfolio.png) scroll repeat;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.portfolio_content_title{
    font-family: "Brushwell";
    font-size: 76px;
    margin-top: 37px;
}
.porfolio_content_subtitle{
    font-family: "Red Velvet";
    font-size: calc(20px + 55 * ((100vw - 320px) / (1280 - 320)));
    color: #fff;
    margin-top: 28px;
    text-align: center;
    padding-bottom: 29px;
    border-bottom: 2px #fff solid;
}
.portfolio_text{
    font-family: "Red Velvet";
    font-size: 29px;
    margin-top: 24px;
}
.portfolio_content_but{
    margin: 54px 0 36px 0;
    font-family: "Louis George Cafe";
    font-size: 16px;
    border: 1px solid #2b2b2b;
    background-color: transparent;
    padding: 1% 4%;
    letter-spacing: 0,94px;
    text-transform: uppercase;
}
.portfolio_content_but:hover{
    background-color:#fff;
    color:#000;
}

        /* Foto_portfolio */
.prf_foto_content{
    display: flex;
    justify-content: center;
    margin: 70px 0 0 0;
}
.prf_content_collum{
    overflow: hidden;
    max-height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prf_collum_item_big{
    margin: 10px;
    max-width: 365px;
    max-height: 540px;
}
.prf_collum_item_smal{
    margin: 10px;
    max-width: 365px;
    max-width: 260px;
}
.prf_item_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen{
    .prf_collum_item_big:hover,
    .prf_collum_item_smal:hover{
        transform: scale(1.5);
    }
}
.slider_prf{
    margin: 40px 0 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* VIDEO */
.video_header{
    /* max-height: 416px; */
    background: url(../img/BG_Portfolio.png) scroll no-repeat;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video_title{
    font-family: "Red Velvet";
    font-size: 67px;
    color: #fff;
    text-transform: uppercase;
    margin: 11% 0 0 0;
    text-align: center;

    padding-bottom: 29px;
    border-bottom: 2px #fff solid;
}
.video_subtitle{
    font-family: "Red Velvet";
    font-size: 29px;
    margin: 24px 0 88px 0;
    max-width: 905px;
}
.video_content{
    margin: 60px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px #000 solid;
}
.main_video{
    height: 520px;
    width: 945px;
}
.video_text{
    margin: 45px 0 0 0;
    text-align: center;
    font-family: "Louis George Cafe";
    font-size: 19px;
    max-width: 945px;
}
.small_video{
    margin: 50px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.small_video_item{
    display: flex;
    align-items: center;
}
.item_video_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_video_header{
    max-width: 365px;
    max-height: 200px;
    object-fit: cover;
}
.item_video_text{
    margin: 45px 0 15px 0;
    max-width: 255px;
    text-align: center;
    font-family: "Louis George Cafe";
    font-size: 19px;
}
.video_but{
    margin: 50px 0 45px 0;
    font-family: "Louis George Cafe";
    font-size: 16px;
    border: 1px solid #2b2b2b;
    background-color: transparent;
    padding: 1% 4%;
    letter-spacing: 0,94px;
    text-transform: uppercase;
}
.video_but:hover{
    background-color:#000;
    color:#fff;
}

        /* testimonials */
.tetmon_title{
    font-family: "Brushwell";
    font-size: 76px;
    text-align: center;
    margin: 50px 0 0 0;
}
.tetmon_subtitle{
    font-family: "Nextart";
    font-size: calc(24px + 4 * ((100vw - 320px) / (1280 - 320)));
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 40px 0 0 0;
}
.tetmon_couple{
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.tetmon_couple_item{
    width: 24%;
}
.counle_item_img{
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.tetmon_couple_item_content{
    display: block;
    margin: 0 auto;
    padding: 10px;
    height: 65%;
    border: 1px #000 solid;
    position: relative;
    bottom: 80px;
}
.couple_item_title{
    font-family: "Red Velvet";
    font-size: 18px;
    margin: 80px 0 0 0;
    text-align: center;
}
.couple_item_text{
    font-family: "Louis George Cafe";
    font-size: 19px;
    text-align: center;
    margin: 40px 0 0 0;
}
.tetmon_but{
    display: block;
    margin: 0 auto;
    font-family: "Louis George Cafe";
    font-size: 16px;
    border: 1px solid #2b2b2b;
    background-color: transparent;
    padding: 1% 4%;
    letter-spacing: 0,94px;
    text-transform: uppercase;
}
.tetmon_but:hover{
    background-color:#000;
    color:#fff;
}

    /* Contact */
.contact{
    height: 100%;
    background: url(../img/BG_contatct.png) scroll;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.contact_title{
    font-family: "Brushwell";
    font-size: 76px;
    text-align: center;
    margin: 50px 0 0 0;
}
.contact_subtitle{
        font-family: "Nextart";
        font-size: calc(24px + 4 * ((100vw - 320px) / (1280 - 320)));
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        margin: 40px 0 0 0;
        padding: 0 0 35px 0;
        border-bottom:1px #000 solid;
}
.contact_content{
    margin: 25px 0 0 0;
    display: flex;
    justify-content: center;
}
.content_form{
    margin: 0 20px 0 0;
    width:350px;
    text-align: left;
}
.contact_form_text{
    font-family: "Louis George Cafe";
    font-size: 19px;
    margin: 0 0 25px 0;
}
.contact_form_title{
    font-family: "Louis George Cafe";
    font-size: 19px;
    text-transform: uppercase;
}
.small_form{
    width: 345px;
    height: 45px;
    border: 1px solid #000;
    background-color: transparent;
    margin: 20px 0 15px 0;
}
.small_form:focus,
.big_form:focus{
    background-color: #fff;
}
.big_form{
    width: 345px;
    height: 150px;
    border:1px solid #000 ;
    background-color: transparent;
    margin: 20px 0 0 0;
}

    /* footer */
.footer{
    height: 415px;
    background: url(../img/footer_bg.png) scroll no-repeat;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size: cover;
    overflow: auto;
}
.social_img{
    display: block;
    margin: 45px auto 0 auto;
}
.tetx_foter{
    text-align: center;
    color: #fff;
    font-family: "Louis George Cafe";
    font-size: 19px;
    margin: 50px 0 0 0;
}

